{{ $icon_size := "1em" }}

{{ with $.Page }}
<div class="slides-nav" style="margin-top: 7%;">

  {{ with .PrevPage }}
    {{ $prev_page := . }}
    <div class="goto prev fig-col">
    <div class="fig-img">
    <span style="font-size: $icon_size; color: Tomato; width: 30%;" >
      <a href='{{ $prev_page.RelPermalink }}'>
      <i class="fas fa-backward"></i>
      </a>
    </span>
    </div>
    <div class="fig-caption">
      <a style="font-size: 0.7em;" href='{{ $prev_page.RelPermalink }}'>{{ $prev_page.Params.title }}</a>
    </div>
    </div>
  {{ end }}

  <div class="goto next fig-col">
  <div class="fig-img">
  <span style="font-size: $icon_size; color: Tomato; width: 30%;" >
    <a href='{{ .Site.BaseURL }}'>
    <i class="fas fa-home"></i>
    </a>
  </span>
  </div>
  <div class="fig-caption">
    <a style="font-size: 0.7em;" href='{{ .Site.BaseURL }}'>Home</a>
  </div>
  </div>

  {{ with .NextPage }}
    {{ $next_page := . }}
    <div class="goto next fig-col">
    <div class="fig-img">
    <span style="font-size: $icon_size; color: Tomato; width: 30%;" >
      <a href='{{ $next_page.RelPermalink }}'>
      <i class="fas fa-forward"></i>
      </a>
    </span>
    </div>
    <div class="fig-caption">
      <a style="font-size: 0.7em;" href='{{ $next_page.RelPermalink }}'>{{ $next_page.Params.Title }}</a>
    </div>
    </div>
  {{ end }}

</div>
{{ end }}
